android/
ios/
web/
linux/
macos/
windows/
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.metadata
*.lock
*.log
.DS_Store
android/.gradle/
android/app/build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.jks
*.keystore
*.jks?
key.properties
*.apk
*.aab
*.dSYM.zip
*.dSYM
.env
.env.local
.env.production
